<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="true">
  <targets>
    <default-target-parameters xsi:type="File"
                               keepFileOpen="false"
                               layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} - [${level:uppercase=true}]: ${message} ${onexception:${newline}${exception:format=ToString}}"
                               archiveAboveSize="10485760"
                               archiveNumbering="Sequence"
                               maxArchiveFiles="10"
                               concurrentWrites="true" />
    <target name="errorsTarget"
            xsi:type="File"
            fileName="${basedir}/logs.log"
            archiveFileName="${basedir}/archives/logs.{####}.log" />
  </targets>
  <rules>
    <!-- Levels: Trace, Debug, Info, Warn, Error, Fatal -->
    <logger name="*"
            levels="Fatal,Error"
            writeTo="errorsTarget" />
  </rules>
</nlog>